*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    color: white;
}
    h1{
        font-size: 10px;
 }

    table{
      width: 100%;
      height: auto;
      background: rgba(31, 41, 55, 0.7);
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      border: 1px solid #111827; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
      align-items: center;
      cursor: pointer;
      width: 100%;
      border-collapse: collapse;
      border-radius: 20px;
      overflow: hidden;
  }
  
  
  table th, table td {
    border: 1px solid #d7dcdf;
    padding: 10px;
    text-align: center;
  }
  
  .add-btn {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 30px;
      border-radius: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 0.3s ease-out;
      margin-top: 15px;
      justify-self: center;
  }
  
  table tbody tr .action{
    display: flex;
    gap: 10px;
}
table tbody tr .action button{
    padding: 3px 13px 5px 13px;
    color: white;
    border: none;
    border-radius: 5px;
}
table tbody tr .action .edit{
    background-color: #007bff;
    transition: 0.3s ease-out;
}
table tbody tr .action .edit:hover{
    background-color: #005ec3;
    transition: 0.3s ease-in;
}
table tbody tr .action .delete{
    background-color: #f00a0a;
    transition: 0.3s ease-out;
}
table tbody tr .action .delete:hover{
    background-color: #D90505;
    transition: 0.3s ease-in;
}
table tbody tr:hover{
    background:#111827;
    transition: 0.3s ease-out;
}
  

