
.right-side-category{
    width: 80%;
    background-color: #111827;
    padding: 10px;
    height: 100vh;
    right: 0;
    margin-left: 20%;
    margin-top: 65px;
    overflow-y: hidden;
}
.category-table{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
table{
    width: 100%;
    height: auto;
    background: rgba(31, 41, 55, 0.7);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid #111827; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}
table th, table td{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-collapse: collapse;
}
table th{
    text-align: center;
}
table tbody tr{
    transition: 0.3s ease-in;
}
table tbody tr:hover{
    background:#111827;
    transition: 0.3s ease-out;
}
table td img{
    width: 70px;
    height: auto;
}
table tbody tr .action{
    display: flex;
    gap: 10px;
}
table tbody tr .action button{
    padding: 3px 13px 5px 13px;
    color: white;
    border: none;
    border-radius: 5px;
}
table tbody tr .action .edit{
    background-color: #007bff;
    transition: 0.3s ease-out;
}
table tbody tr .action .edit:hover{
    background-color: #005ec3;
    transition: 0.3s ease-in;
}
table tbody tr .action .delete{
    background-color: #f00a0a;
    transition: 0.3s ease-out;
}
table tbody tr .action .delete:hover{
    background-color: #D90505;
    transition: 0.3s ease-in;
}
.right-side-category button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0 30px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    margin-top: 15px;
    justify-self: center;
}

.right-side-category i {
    padding-bottom: 5px;
}

.right-side-category button:hover {
    background-color: #005ec3;
    transition: 0.3s ease-out;
}

/* Add & Update Promo Modal styles */
.modal {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed;
    z-index: 1; 
    width: 100%; 
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.5); 
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    box-sizing: border-box; 
    display: flex; 
    justify-self: center;
    margin-top: 12%;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    font-weight: bold;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 5px;
    margin: 0 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

label {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #000;
    margin-top: 0px;
    display: block;
}

textarea {
    resize: vertical;
    height: 100px;
}