*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #ffffff;
}

:root{
    --button-color: #007bff;
    --btn-hover: #005ec3;
}
/*===============================
Top Bar
================================*/
.top-bar{
    width: 100%;
    height: 65px;
    background-color: #1F2937;
    align-items: center;
    display: flex;
}
.left{
    display: flex;
    align-items: center;
}
.top-bar .title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;
}
.search-bar{
    margin-left: 100px;
}
.search-bar input{
    width: 300px;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: transparent;
    padding-left: 15px;
    padding-bottom: 5px;
    outline: none;
}
.search-bar button{
    padding: 7px;
    margin-left: -6px;
    border: none;
    padding-right: 15px;
    background-color: var(--button-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    transition-duration: 500ms;
}
.search-bar button:hover{
    background-color: var(--btn-hover);
    transition-duration: 500ms;
}
.search-bar button i{
    margin-left: 7px;
    color: #ffffff;
    align-items: center;
    font-size: 16px;
}
.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 340px;
}
.profile .pro-avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 200px;
}
.profile p{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 15px;
}
.right{
    display: flex;
    align-items: center;
    margin-left: 23px;
}
.log-out {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    margin-left: 25px;
}

.logout-button {
    background-color: #f81212; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
    background-color: #d90505; 
    transform: scale(1.03); 
}

.logout-button:active {
    background-color: #c10000; 
}

.logout-button i {
    font-size: 18px; 
}
/*===============================
End of top Bar
================================*/