.image-section{
    width: 100%;
    height: 40vh;
    display: flex;
    background-color: #EDEDED;
}
.image-section .about-text{
    width: 30%;
    display: block;
    position: relative;
}
.image-section .about-text .url{
    position: absolute;
    left: 10%;
    top: 20%;
}
.image-section .about-text .url a{
    text-decoration: none;
}
.image-section .about-text h1{
    left: 10%;
    top: 30%;
    font-weight: 600;
    position: absolute;
}
.image-section .image{
    width: 70%;
    height: auto;
}
.image-section .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-section{
    width: 100%;
    display: block;
    padding: 10px 100px 0 100px;
    margin-top: 10px;
}
.content-section .story-section{
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 10px; 
}
.content-section .story-section img{
    width: 40%;
    height: auto;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.content-section .story-section img:hover{
    transition: 0.3s ease-out;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.content-section .story-section .story-content{
    display: block;
}
.content-section .story-section .story-content .choose{
    display: flex;
    width: 100%;
    height: 50px;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
    margin-top: 10px;
}
.content-section .story-section .story-content .choose i{
    color: rgb(8, 152, 8);
    font-size: 2.3rem;
    margin-top: -18px;
}
.content-section .story-section .story-content .choose p{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 8px;
}

@media (max-width:481px){
    .image-section{
        height: 20ch;
        background-image: url('../images/vege-cover01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .image-section .image{
        display: none;
    }
    .image-section .about-text{
        width: 100%;
    }
    .content-section{
        padding: 10px;
    }
    .content-section .story-section{
        display: block;
    }
    .content-section .story-section img{
        width: 100%;
        margin-top: 10px;
    }
}
@media (min-width:576px) and (max-width:991px){
    .image-section{
        height: 30ch;
        background-image: url('../images/vege-cover01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .image-section .image{
        display: none;
    }
    .image-section .about-text{
        width: 100%;
    }
    .content-section{
        padding: 10px;
    }
    .content-section .story-section img{
        background-size: cover;
        height: 30vh;
    }
}

/*-------------------------------------
Testomonial slider
-------------------------------------*/
.swiper{
    width: 100%;
    height: 57vh;
    margin-bottom: 10px;
}
.top{
    font-weight:600;
    margin-bottom:20px;
    margin-left: 7%;
}
.swiper-wrapper{
    max-height: 45vh;
}
.swiper-slide{
    user-select: none;
    height: 45vh;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.05);
    display: block;
}
.rating{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.comment p{
    text-align: center;
    margin-bottom: 10px;
}
.image-feedback{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.image-feedback img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}
.name{
    display: flex;
    justify-content: center;
}
.job{
    display: flex;
    justify-content: center;
}
.swiper-pagination{
    margin-top: 10px;
}

@media (max-width:481px){
    .swiper{
        height: 50vh;
    }
}

@media (min-width:576px) and (max-width:991px){
    .swiper{
        height: 35vh;
    }
}
/*-------------------------------------
End of testomonial slider
-------------------------------------*/

/*-------------------------------------
Review Section
-------------------------------------*/
.review-section{
    display: block;
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
}
.body-content{
    display: flex;
    gap: 15px;
    width: 100%;
    height: auto;
}
.review-image{
    width: 30%;
    height: auto;
}
.review-image img{
    width: 100%;
    height: 60vh;
    background-position: center;
}
form{
    width: 70%;
    height: auto;
    display: block;
}
.details{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
label{
    font-size: 20px;
    font-weight: 500;
}
input[type = "text"] {
    padding: 8px;
    width: 400px;
    border-radius: 10px;
}
.rate{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}
select{
    padding: 5px;
    width: 100px;
    color: black;
    border-radius: 10px;
}
option{
    color: black;
}
.feedback{
    width: 100%;
    display: block;
    margin-top: 25px;
}
textarea{
    margin-top: 20px;
    width: 100%;
    height: 150px;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
input[type="submit"]{
    padding: 10px;
    width: 100px;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: 25px;
    background-color: #007bff;
    transition: 0.3s ease-in;
}
input[type="submit"]:hover{
    transition: 0.3s ease-out;
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

@media (max-width:481px){
    .review-image{
        display: none;
    }
    .details{
        display: block;
        padding: 0;
    }
    .names{
        margin-bottom: 15px;
    }
    .names input[type="text"]{
        margin-left: 54px;
    }
    textarea{
        width: 370px;
    }
}

@media (min-width:576px) and (max-width:991px){
    .review-image{
        display: none;
    }
    .details{
        padding: 0;
    }
    input[type = "text"]{
        width: 270px;
    }
}
/*-------------------------------------
End of review section
-------------------------------------*/