/* Add these styles to your existing style.css */
.account-info  {
    padding: 50px;
    text-align:center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: space-around; 
    background: #ebe6e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(34, 14, 14, 0.2);
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 00px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #00b336;
}

.btn.danger {
    background-color: #35dc5f;
}

.btn.danger:hover {
    background-color: #b41313;
}
