
.right-side {
  height: auto;
  overflow: hidden;
}
.profile-container{
  width: 100%;
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 15px;
}
.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #f3f5f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 700px;
  justify-self: center;
}

.profile-avatar{
  position: relative;
}

.profile-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #000000;
}

.profile-avatar button{
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 0 8px 8px 8px;
  border: 1px solid black;
  border-radius: 20px;
  bottom: -10px;
  left: 55px;
}

.profile-avatar i{
  font-size: 20px;
  color: #000000;
}

.profile-avatar button:hover{
  background-color: black;
  border-color: white;
  color: white;
}

.profile-avatar i:hover{
  color: white;
}

/* Personal Information Section */
.profile-container .information-section{
  display: flex;
  width: 100%;
  justify-content: center;
}
.personal-info-section{
  display: block;
  width: 50%;
}
.info-section{
  background-color: #f3f5f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 10px;
}

.info-fields{
  display: block;
  width: 100%;
}

.info{
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}

.info label{
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
}

.info input{
  padding: 3px;
  outline: none;
  border-radius: 10px;
  width: 250px;
  position: absolute;
  left: 30%;
}

.info-section button{
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: 0.3s ease-out;
  border: none;
}

.info-section button:hover{
  transition: 0.3s ease-in;
  background-color: #0061c9;
}

.billing-info-section{
  background-color: #f3f5f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40%;
}

@media (max-width:481px){
  .profile-header{
    width: 100%;
  }
  .personal-info-section{
    width: 100%;
  }
}
/* Update Profile Modals styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
  padding-top: 50px;
}

.modal-content {
  left: 11%;
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  text-align: end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.box {
  display: inline-block;
  position: relative;
  border: 2px solid #858585; 
  padding: 2px;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

.box label {
  position: absolute;
  top: -10px;
  left: 10px; 
  background: #fff; 
  padding: 0 5px; 
  font-size: 14px; 
  color: #494949;
}

.box textarea {
  resize: vertical;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.box:has(input:focus),
.box:has(textarea:focus) {
  border-color: black;  
}

.updateForm button[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.updateForm button[type="submit"]:hover {
  background-color: #218838;
}

#updateAdminModal {
  padding: 20px;
}

#updateAdminForm {
  font-family: 'Arial', sans-serif;
}

#updateAdminForm input,
#updateAdminForm textarea {
  font-family: 'Arial', sans-serif;
}

#imagePreview {
  max-width: 100%;
  margin-bottom: 10px;
  height: 200px;
}

#updatePictureForm button[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#updatePictureForm button[type="submit"]:hover {
  background-color: #218838;
}




.logout-button {
  text-align: right;
 
}

.logout-button button{
  text-align: center;
  background-color: #f80909; 
  border: none;
  border-radius: 5px;
  width: 100px;
}
.logout-button i {
  padding-bottom: 7px;
}

.logout-button button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.logout-button button:hover {
  background-color: #aa0303;
}




