body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  
  }
  
  .account-container {
    background: #c7bebe;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    display:flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 10px;
    margin-bottom: 20px;
    color: #0a0909;
    text-align: center;
  }

  form{
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #292828;
  }
  
  input {
    width: 65%;
    padding: 1px;
   
    border-radius: 5px;
    font-size: 14px;
    color: #313131;
    
  }
  
  input[readonly] {
    background: #e9ecef;
    cursor: not-allowed;
  }
  
  .buttons {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
  
  button {
    padding: 5px 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  button.edit {
    background: #007bff;
    color: white;
    
  }
  
  
  
  button:hover {
    opacity: 0.9;
  }
  


  
body {
  font-family: Arial, sans-serif;
  background-color: #0f0f9e;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.model-container {
  background: #d6d2d2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 600px;
}
.model-container h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
}
.model-container label {
  font-weight: bold;
  display: block;
  margin-bottom: -2px;
}
.model-container input,
.model-container select,
.model-container button {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
}
.model-container button {
  background-color: #006eff;
  color: white;
  border: none;
  cursor: pointer;
}
.model-container button:hover {
  background-color: #0056b3;
}
.form-container .login-link {
  text-align: center;
  margin-top: 10px;
}
.model-container .login-link a {
  color: #007bff;
  text-decoration: none;
}
.model-container .login-link a:hover {
  text-decoration: underline;
}
.password-section{
  padding-right: 30px;
  
}
.password-section1{
  padding-right: 30px;
 
}
.password-section input{
  position: relative;
}
.password-section1 input{
  position: relative;
}
.model-container .toggle-icon {
  position: absolute;
  color: rgb(5, 4, 4);
  cursor: pointer;
  background-color: white;
  padding: 5px;
  padding-top: 10px;
  height: 34px;
}
.model-container .toggle-icon1 {
  position: absolute;
  color: rgb(5, 4, 4);
  cursor: pointer;
  background-color: white;
  padding: 5px;
  padding-top: 10px;
  height: 34px;
}

