
body {
    font-family: Arial, sans-serif;
    background-color: #0f0f9e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background: #d6d2d2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 550px;
}

.close {
    color: #858383;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: end;
    margin-top: -25px;
    margin-left: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 31px;
}
.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: -2px;
}
.form-container input:not(#password,#rt-password),
.form-container select,
.form-container button {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}
.form-container button {
    background-color: #006eff;
    color: white;
    border: none;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #0056b3;
}
.form-container .login-link {
    text-align: center;
    margin-top: 10px;
}
.form-container .login-link a {
    color: #007bff;
    text-decoration: none;
}
.form-container .login-link a:hover {
    text-decoration: underline;
}
.password-section{
    padding-right: 30px;
    
    
}
.password-section1{
    padding-right: 30px;
  
   
}
.password-section input{
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   
}
.password-section1 input{
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
}
.form-container .toggle-icon {
    position: absolute;
    color: rgb(5, 4, 4);
    cursor: pointer;
    background-color: white;
    padding: 5px;
    padding-top: 10px;
    padding-left: 6px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 34px;
   
  }
  .form-container .toggle-icon1 {
    position: absolute;
    color: rgb(5, 4, 4);
    cursor: pointer;
    background-color: white;
    padding: 5px;
    padding-top: 10px;
    height: 34px;
  
    
  }
  
