body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ebe4e4;
}

.verification-form {
    background: #f5f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(214, 23, 23, 0.1);
    width: 300px;
    text-align: center;
}

.verification-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.option {
    margin-bottom: 10px;
    text-align: left;
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.code-box {
    width: 40px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}
.code-box:focus {
    border-color: #0752a3;
}


.code-input label {
    display: block;
    margin-bottom: 5px;
}

#verificationCode {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #001bb3;
}
.code{
    display: block;
    text-align:left;
    margin-bottom: 10px;
}
.ETC{
    display: block;
    text-align:left;
    margin-bottom: 10px;
}